@import '../wal/colors.d/colors-waybar.css';

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
    color: @color6;
}


/* The whole bar */
window#waybar {
    background-color: @background;
    font-family: Ubuntu Nerd Font;
    font-size: 16px;
}

/* Every modules */
#clock,
#cpu,
#memory,
#mode,
#pulseaudio,
#temperature,
#tray,
#window,
#custom-power,
#workspaces,
#custom-media {
    padding:0.25rem 0.75rem;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
}

#clock,
#window,
#custom-media {
  margin: 0 20px;
  color: @foreground;
  font-weight: bold;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#memory.warning,
#cpu.warning {
    color: @color3;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#temperature.critical,
#cpu.critical,
#memory.critical {
    color: @color2;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#pulseaudio {
    border-left: 0px;
    border-right: 0px;
    margin-right: 0;
    border-radius: 20px 0 0 20px;
}

#pulseaudio.microphone {
    border-left: 0px;
    border-right: 0px;
    margin-left: 0;
    padding-left: 0;
    border-radius: 0 20px 20px 0;
}

#workspaces {
    font-size:14px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
}

#workspaces button.active label {
  color: @foreground;
}

#custom-power {
    font-size:20px;
    margin-right: 15px;
}

#custom-brave, 
#custom-terminal,
#custom-files,
#custom-chatgpt,
#custom-discord,
#custom-launcher {
    font-size:20px;
    margin-right:8px;
}

#custom-launcher {
    margin-left:15px;
}



